pypdf==4.2.0
streamlit==1.22.0
streamlit_pills==0.3.0
streamlit-diff-viewer==0.0.2
temp==2020.7.2
pandas==2.2.0
clarifai==10.2.1
streamlit-option-menu==0.3.12
prettytable==3.10.0
langchain==0.2.6
streamlit-option-menu==0.3.12
prettytable==3.10.0
langchain-community==0.2.6 
langchain-core==0.2.11 
langsmith==0.1.84
pypdf==4.2.0
pydy==0.7.1
pydy==0.7.1
